#shapesArea {
    height: 600px;
    width: 600px;
    float: left;
    background-color: #C8BFD8;
    position: relative;
}

#shapesDrawer {
    width: 20%;
    height: auto;
    float: left;
    display: inline-block;
}

#parameters {
    height: 600px;
    width: auto;
    display: inline-block;
    padding: 10px;
}

.circle {
    border-radius: 100px;
    background: purple;
    position: absolute;
}

.triangle {
    border-bottom-color: blue;
    border-bottom-style: solid;
    border-right-color: transparent;
    border-right-style: solid;
    width: 0px;
    height: 0px;
    position: absolute;
}

.rectangle {
    background-color: palevioletred;
    display: inline-flex;
    position: absolute;
}

.square {
    background: hotpink;
    position: absolute;
}
